In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings('ignore')

    - Importation du dataset

In [18]:
data = pd.read_csv("segmentation.csv", sep='\t',parse_dates=[7])

In [19]:
data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-04-09,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-08-03,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-10-02,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [20]:
df = data.copy()

- Suppression des variables non Significative repertoriée lors de l'analyse exploratoire

In [21]:
df = df.drop(['ID','AcceptedCmp1','AcceptedCmp2','Z_CostContact','Z_Revenue',
           'AcceptedCmp3','AcceptedCmp4','AcceptedCmp5','Teenhome'], axis=1)

In [22]:
df['Age_client'] = 2020 - df['Year_Birth']
df['Client_depuis(an)'] = 2020 - df['Dt_Customer'].dt.year

In [23]:
df = df.drop(['Year_Birth','Dt_Customer'], axis=1)

In [24]:
#Verification des valeurs manquante
df.isna().any()

Education              False
Marital_Status         False
Income                  True
Kidhome                False
Recency                False
MntWines               False
MntFruits              False
MntMeatProducts        False
MntFishProducts        False
MntSweetProducts       False
MntGoldProds           False
NumDealsPurchases      False
NumWebPurchases        False
NumCatalogPurchases    False
NumStorePurchases      False
NumWebVisitsMonth      False
Complain               False
Response               False
Age_client             False
Client_depuis(an)      False
dtype: bool

In [25]:
# Affichage du nombre de valeurs manquantes
df['Income'].isna().sum()

24

 - Nous avons 24 lignes de données manquante dans la vriable Income. Ce nombre est largement inférieur au nombre d'individu dans notre dataset, Nous allons donc les Supprimés.

In [26]:
df = df.dropna(axis=0)

In [27]:
df.isna().sum()

Education              0
Marital_Status         0
Income                 0
Kidhome                0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
Complain               0
Response               0
Age_client             0
Client_depuis(an)      0
dtype: int64

In [28]:
#Vérification des valeurs dupiquée
df.duplicated().sum()

182